@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.molecules-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.molecule-structure-svg {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

canvas {
  border: 1px solid #ccc;
}
